// secrets.json should be placed in this directory with the following format (with comments removed):
{
  // token of the form 'user@password', base64-encoded and then stripped of at least one character (what?)
  "JiraToken": "<TOKEN HERE>"
}